.itn-picker-timepicker-toolbar {
}
    .itn-picker-timepicker-toolbar .itn-timepicker-separator {
        cursor: default;
        margin: 0 4px 0 2px;
        margin-inline-start: 2px;
        margin-inline-end: 4px;
    }
    .itn-picker-timepicker-toolbar .itn-timepicker-hourminute {
        display: flex;
        align-items: baseline;
        justify-content: flex-end;
    }

        .itn-picker-timepicker-toolbar .itn-timepicker-hourminute .itn-timepicker-button {
            font-size: 3.75rem;
            font-weight: 300;
            line-height: 1;
            letter-spacing: -.00833em;
        }
        .itn-picker-timepicker-toolbar .itn-timepicker-button.itn-timepicker-toolbar-text {
            color: rgba(255,255,255,.54);
        }

.itn-picker-time-container {
    margin: 16px 0 8px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
    .itn-picker-time-container .itn-picker-time-clock {
        width: 260px;
        height: 260px;
        position: relative;
        border-radius: 50%;
        pointer-events: none;
        background-color: rgba(0,0,0,.07);
    }
        .itn-picker-time-container .itn-picker-time-clock .itn-picker-time-clock-mask {
            width: 100%;
            height: 100%;
            outline: none;
            position: absolute;
            user-select: none;
            touch-actions: none;
            pointer-events: auto;
        }

        .itn-picker-time-container .itn-picker-time-clock .itn-picker-time-clock-pointer {
            left: calc(50% - 1px);
            width: 2px;
            bottom: 50%;
            position: absolute;
            transform-origin: center bottom 0;
        }

            .itn-picker-time-container .itn-picker-time-clock .itn-picker-time-clock-pointer .itn-picker-time-clock-pointer-thumb {
                position: absolute;
                border-radius: 100%;
            }
                .itn-picker-time-container .itn-picker-time-clock .itn-picker-time-clock-pointer .itn-picker-time-clock-pointer-thumb.itn-onclock-minute {
                    background: transparent;
                    border: 2px solid;
                    width: 10px;
                    height: 10px;
                    top: -9px;
                    left: -4px;
                    box-sizing: border-box;
                }

                .itn-picker-time-container .itn-picker-time-clock .itn-picker-time-clock-pointer .itn-picker-time-clock-pointer-thumb.itn-onclock-text {
                    top: -19px;
                    left: -13px;
                    width: 28px;
                    height: 28px;
                    border: none;
                    background-color: inherit;
                    box-sizing: border-box;
                }

            .itn-picker-time-container .itn-picker-time-clock .itn-picker-time-clock-pointer.itn-picker-time-clock-pointer-animation {
                transition: transform 150ms cubic-bezier(.4,0,.2,1) 0ms,height 150ms cubic-bezier(.4,0,.2,1) 0ms;
            }

        .itn-picker-time-container .itn-picker-time-clock .itn-clock-number {
            left: calc((100% - 32px)/2);
            background-color: transparent !important;
            width: 32px;
            height: 32px;
            display: inline-flex;
            position: absolute;
            align-items: center;
            user-select: none;
            border-radius: 50%;
            justify-content: center;
            transition-duration: 120ms;
            transition-property: color;
        }

        .itn-picker-time-container .itn-picker-time-clock .itn-picker-stick {
            left: calc(50% - 1px);
            width: 3px;
            height: 50%;
            bottom: 50%;
            position: absolute;
            transform-origin: center bottom 0;
        }
            .itn-picker-time-container .itn-picker-time-clock .itn-picker-stick.itn-minute:after {
                content: "";
                position: absolute;
                left: 50%;
                transform: translate(-50%,-50%);
                height: 44px;
                width: 15px;
                top: 20px;
                border-radius: 50%;
                background-color: inherit;
            }

        .itn-picker-time-container .itn-picker-time-clock .itn-picker-stick-inner {
            left: calc(50% - 1px);
            width: 3px;
            height: 35%;
            bottom: 0;
            position: absolute;
            transform-origin: center bottom 0;
        }
            .itn-picker-time-container .itn-picker-time-clock .itn-picker-stick-inner.itn-hour:after {
                content: "";
                position: absolute;
                left: 50%;
                transform: translate(-50%,-50%);
                height: 48px;
                width: 48px;
                top: -60%;
                border-radius: 50%;
                background-color: inherit;
            }


        .itn-picker-time-container .itn-picker-time-clock .itn-picker-stick-outer {
            left: calc(50% - 1px);
            width: 0;
            height: 35%;
            bottom: 35%;
            position: absolute;
            transform-origin: center bottom 0;
        }

            .itn-picker-time-container .itn-picker-time-clock .itn-picker-stick-outer.itn-hour:after {
                content: "";
                position: absolute;
                left: 50%;
                transform: translate(-50%,-50%);
                height: 48px;
                width: 62px;
                top: -20px;
                border-radius: 50%;
                background-color: inherit;
            }

.itn-time-picker-dial {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: transform 350ms,opacity 350ms;
}

.itn-time-picker-dial-out {
    opacity: 0;
}

.itn-time-picker-dial-hidden {
    visibility: hidden;
}

.itn-time-picker-hour.itn-time-picker-dial-out {
    transform: scale(1.2,1.2);
    transform-origin: center;
}